*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #333;
    color: #ae1b16;
    text-align: center;
}

header {
    background-color: #ae1b16;
    color: white;
    padding: 20px 0;
    font-size: 24px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}


.container .box {
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}

.container .box h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.container .box input[type="text"],
.container .box input[type="email"],
.container .box input[type="number"],
.container .box input[type="date"],
.container .box select,
.container .box textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
}

.container .box input[type="text"]:focus,
.container .box input[type="email"]:focus,
.container .box input[type="number"]:focus,
.container .box input[type="date"]:focus,
.container .box select:focus,
.container .box textarea:focus {
    border-color: #ae1b16; 
    outline: none;
}

.container .box select {
    padding: 12px;
    background-color: #fff;
    font-size: 16px;
}

.container .box button {
    background-color: #ae1b16;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.container .box button:hover {
    background-color: #8c1511;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    text-align: left; 
}

.progreso {
    margin-top: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.barra {
    height: 100%;
    width: 0%;
    background-color: #ae1b16;
    transition: width 0.3s;
}


footer {
    background-color: #ae1b16;
    color: white;
    padding: 10px 0;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
